@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&family=Yellowtail&display=swap');

:root {
  --background-color: #ffffff;
  --color1: #1b3e01;
  --color2: #fafbfa;
  --color3: #f1dfc9;
  --color4: #e9e9e9;
  --special-font: Yellowtail;
  --text-font: Rubik;
  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el tamaño total de los elementos */
}
html,
body {
  width: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal */
}
body {
  background-color: var(--background-color);
  font-family: var(--text-font);
  margin: 0;
  padding: 0;
}

#myHeader {
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 3.5rem;
  background-color: #f1dfc900;
  position: absolute;
}

h1 {
  font-family: var(--special-font);
  font-weight: 100;
  color: var(--color1);
}
.enlaces-imagenes {
  width: 60px;
  display: flex;
  gap: 20px;
  order: 3;
}
img[alt='Mi Cuenta'] {
  width: 20px;
}
img[alt='Carrito'] {
  width: 20px;
}
#app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.imagen-banner {
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-column: 1/5;
}
#aventuras {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: var(--padding-s);
  gap: 20px;
  grid-column: 2 / 5;
  margin-top: 20px;
}
.aventura {
  width: 110px;
  height: 180px;
  padding: var(--padding-s);
  box-shadow: 6px 3px 76px -26px rgb(175, 196, 177);
  border-radius: 20px;
  transition: background-color 0.3s ease;
  transform: scale(1);
  transition: transform 0.6s ease;
}
.aventura:hover {
  background-color: var(--color3);
  cursor: pointer;
  transform: scale(0.9);
}
.aventura > img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 20px;
}
.aventura > h2 {
  font-size: 10px;
  margin: 1px;
  margin-bottom: 10px;
}
.aventura > p {
  font-size: 8px;
  margin: 5px;
  margin-left: 0px;
}
.estrella {
  width: 5px;
  height: 5px;
}
#video-container {
  width: 100%;
  height: 100px;
}
#reviews {
  text-decoration: underline;
}

.filter {
  margin-left: 5px;
  margin-top: 12px;
}
.section-recomendados {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-left: 30px;
}
.section-recomendados > h3 {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
}
.productos-recomendados {
  display: flex;
}
select {
  width: 160px;
  font-size: 12px;
  appearance: none;
  border: 1px solid var(--color4);
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 4px;
  color: var(--color1);
  margin-top: 20px;
  margin-left: 5px;
}
select:focus {
  outline: none;
  border-color: var(--color1);
}
select option {
  background-color: inherit;
  color: var(--color1);
}
select option:hover {
  background-color: var(--color1);
  color: white;
}

#aventuras {
  flex-grow: 1;
}
.filtro-letras {
  width: 15em;
  height: 15px;
  appearance: none;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color1);
  background: none;
  outline: none;
}
.filtro-letras:focus {
  border-color: var(--color1);
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}
.filtro-precio {
  font-size: 12px;
  width: 11.5em;
  appearance: none;
  border: 1px solid var(--color4);
  padding: 8px 10px;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 5px;
  outline: none;
}
.filtro-precio:focus {
  border-color: var(--color1);
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

button {
  border-radius: 30px;
  background-color: var(--color1);
  margin: 10px;
  font-size: 10px;
  appearance: none;
  border: 1px solid var(--color1);
  padding: 8px 10px;
  width: 7rem;
  color: var(--color2);
}
button:hover {
  cursor: pointer;
}

.dinamico-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  grid-column: 1/5;
  background-color: var(--color3);
  margin-top: 5px;
  height: 2em;
  display: flex;
  align-items: center;
}

.dinamico {
  display: inline-block;
  animation: dinamico 20s linear infinite;
}

.dinamico > a {
  display: inline-block;
  margin-right: 30px;
  white-space: nowrap;
  text-decoration: none;
  color: var(--color1);
  font-size: 13px;
}

@keyframes dinamico {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

img[alt='Instagram'] {
  width: 20px;
}
img[alt='Instagram']:hover {
  cursor: pointer;
}
img[alt='Facebook'] {
  width: 20px;
}
img[alt='Facebook']:hover {
  cursor: pointer;
}
footer {
  background-color: var(--color1);
  grid-column: 1 / 5;
  padding: 10px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.texto-footer {
  color: var(--color3);
  font-size: 9px;
  grid-column: 1/3;
}
.enviar-correo {
  grid-column: 1/3;
}
.input-footer {
  color: var(--color3);
  font-size: 9px;
  height: 15px;
  appearance: none;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color3);
  background: none;
  outline: none;
}
.input-footer:focus {
  border-color: var(--color1);
  box-shadow: 0 0 5px var(--color3);
}
.button-footer {
  border-radius: 30px;
  color: var(--color3);
  background-color: transparent;
  font-size: 9px;
  margin: 10px;
  border: 1px solid var(--color3);
  width: 4rem;
}
.button-footer:hover {
  cursor: pointer;
}
.contacto-footer {
  font-size: 9px;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.enlaces-redes {
  display: grid;
  grid-column: 5 / 6;
  grid-row: 1 / 3;
  justify-self: end;
  gap: 20p;
  margin: 5px;
}

.contacto-footer > a {
  text-decoration: none;
  color: var(--color3);
  font-size: 9px;
  position: relative;
}
.contacto-footer > a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--color3);
  transition: width 1s ease;
}

.contacto-footer > a:hover::after {
  width: 60%;
}
@media (min-width: 670px) {
  #aventuras {
    justify-content: center;
    gap: 10px;
  }
  .filter {
    width: 20%;
  }
}

@media (max-width: 500px) {
  #app {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .filter {
    padding: var(--padding-s);
    margin: 0;
  }
}
@media (max-width: 460px) {
  #myHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .enlaces-imagenes {
    order: 0;
    justify-self: end;
  }
  .filtro-letras {
    display: grid;
    grid-column: 1 / 3;
    width: auto;
  }
  .aventura {
    justify-content: center;
  }
  .section-recomendados {
    margin-left: 0px;
    padding-left: 0px;
    justify-content: center;
  }
  .section-recomendados > h3 {
    padding-left: 0px;
    justify-content: center;
  }
}
@media (max-width: 270px) {
  .input-footer {
    font-size: 8px;
  }
}
